body {
    background-image: url();
    margin: 0;
    font-family: Arial, sans-serif;
    min-height: 100vh; /* Устанавливаем минимальную высоту равную высоте окна браузера */
    display: flex; /* Используем Flexbox для центрирования содержимого */
    flex-direction: column;
}
